td,th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table, tbody, thead{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#tab1{
    width:100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

#taba1{
    max-width: 500px ;
    width: 100%;
}

.dfx{
    display: flex;
}

.dfx-jc{
    display: flex;
    justify-content: center;
}

.dark-b{
    background-color: rgba(255, 255, 255, 0.553);
    padding: 10px;
}

.dark-font{
    color: rgba(255, 255, 255, 0.553);
}

.f-b{
    color: black;
}
.o-flow-h{
    overflow-x: hidden;
}
.o-flow-v{
    overflow-y: hidden;
}
.px-w100{
    width: 100px;
}
.px-h50{
    height: 20px;
}

.outline-2{
    border: 2px solid #545454;
}

.round{
    border-radius: 20px;
}

.oneline{
    text-wrap: nowrap;
}

.text-contain{
    text-wrap: wrap;
    padding: 20px;
    width: 450px;
    font-weight: 100;
    max-width: 85dvw;
}
