td,th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table, tbody, thead{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#tab1{
    width:100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

#taba1{
    max-width: 500px ;
    width: 100%;
}

.dfx{
    display: flex;
}

.dfx-jc{
    display: flex;
    justify-content: center;
}